@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
a.active{
    color: #FF3811;
    position: relative;
}

a.active::after{
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    content: '';
} */



input::placeholder {
    font-size: 16px;
    font-weight: 400;      
  }